body {
	background-color: #ADD8E6;
	color: #221811;
	font-family: Times New Roman, Georgia, Times;
	background-image: url(background.gif);
}

header {
	background-color: #6495ED;
	height: 160px;
	background-image: url(selogo.jpg);
	background-repeat: no-repeat;
}

#wrapper {
	background-color: #F0F8FF;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	box-shadow: 3px 3px 3px #191970;
}

nav {
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
	padding-top: 10px;
}

nav a {
	padding-bottom: 15px;
	text-decoration: none;
}

main {
	padding-left: 2em;
	padding-right: 2em;
	padding-bottom: 2em;
	display: block;
}

footer {
	background-color: #6495ED;
	font-size: small;
	font-style: italic;
	text-align: center;
	padding-bottom: 10px;
	border-top: 2px solid #000080;
}

h1 {
	padding-top: 45px;
	padding-left: 220px;
	font-size: 3em;
}

img {
	padding-left: 5px;
	padding-right: 5px;
}

.floatright {
	float: right;
	margin-left: 1em;
	width: 250px;
	height: 300px;
}

blockquote {
	background-color: #E6E6FA;
	font-style: italic;
	font-weight: bold;
	text-align: center;
}

.ochartstyle {
	padding-left: 200px;
	padding-top: 10px;
	width: 450px;
	height: 250px;
}

#eventinfo {
	width: 80%;
	border: 2px solid #483D8B;
	margin-left: 10%;
	margin-right: 10%;
	text-align: center;
}

#eventinfo th {
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #4682B4;
	color: white;
}

#eventinfo tr:nth-child(even) {
	background-color: #B0E0E6;
}

h4 {
	background-color: #87CEFA;
	font-size: 1.2em;
	padding-top: 5px;
	padding-left: 10px;
	padding-bottom: 5px;
}

form {
	padding: 2em;
}

label {
	float: left;
	text-align: right;
	font-weight: bold;
	width: 15em;
	padding-right: 1em;
	display: block;
}

input, textarea, select {
	margin-bottom: 2em;
	display: block;
}

#newSubmit {
	margin-left: 20em;
}